*, *::after, *::before{
    box-sizing: border-box;
}

*, body{
    margin: 0;
    padding: 0;
}

body{
    max-width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

main{
    min-height: 65vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#respuestas{
    min-height: 20vh;
    max-width: 60%;
    margin: 0 auto;

    /* display: flex;
    align-self: center;
    justify-content: space-between;
    text-align: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#respuesta{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

@media(max-width: 768px){
    /* #respuestas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    } */
    #respuestas{
        gap: 2.5rem;
        margin: 0;
        max-width: 100%;
    }
    #respuestas:last-child{
        margin-bottom: 2rem;
    }
    .separator{
        width: 100%;
    }
}

#respuestas li{
    list-style: none;
    display: block;
    font-weight: bold;
}

.separator{
    display: block;
    height: 2px;
    width: 100%;
    text-align: center;
    background-color: #e1e1e1;
    margin: .5rem 0;
}

textarea,
input {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  padding: .7rem;
  border-radius: 20px;
}

textarea {
  resize: none;
  width: 300px;
  height: 200px;
}

input {
  margin: 0;
  width: 300px;
}

.btn-calcular{
    border-radius: 30px;
    padding: 1em 2em;
    background-color: #333;
    color: white;
    border: none;
    transition: filter .1s ease-in-out;
    align-self: flex-end;
}

.btn-calcular:hover, .btn-calcular:focus{
    filter: brightness(85%);
    cursor: pointer;
    border: 1px solid #e1e1e1;
}

.site-header{
    text-align: center;
    padding: 2rem;
}

.nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 2rem;
}

.nav-box a{
    transition: filter  .1s ease-in;
}

.nav-box a:hover{
    filter: brightness(25%);
}

.active{
    color: #333;
}

.site-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: .7rem;
    margin-top: 2rem;
}

.icon-item{
    transition: filter .1s ease-in;
}

.icon-item:hover{
    filter: brightness(85%);
}

/** Explicacion **/
.link-us{
    text-decoration: none;
}

.main-explicacion{
    text-align: justify;
    line-height: 1.7;
    font-size: 1.3rem;
}

.main-explicacion p{
    color: #5d5d5d;
}

.main-explicacion h2{
    text-decoration: underline;
}

.main-explicacion > div{
    margin-bottom: 5rem;
}

blockquote{
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
    color: #333;
}